/* Bigger headings */
.reveal h1 {
    font-size: 5em;
}
.reveal h2 {
    font-size: 3em;
}
.reveal h3 {
    font-size: 2em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

/* Larger code blocks */
.reveal pre {
    margin: 30px auto;
    font-size: 1em;
}
